{% extends 'layout.html' %}

{% block titulo %}
Funcionarios
{% endblock %}

{% block estilos %}
{% load staticfiles %}
<!-- data tables -->
<link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
      type="text/css"/>
{% endblock %}

{% block migas %}
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">Módulo de Talento Humano</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home"></i>
                <a class="parent-item" href="{% url 'talento_humano:index' %}">Talento Humano</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Vacaciones
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block contenido %}
<div class="card card-box">
    <div class="card-head">
        <header>
            Administración de Vacaciones
            <div id="barra"></div>
        </header>
        <div class="tools">
            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'talento_humano:vacaciones.generar' %}" onclick="return carga()"
                   class="btn btn-primary">Generar
                    Vacaciones</a>
                <a href="{% url 'talento_humano:vacaciones.periodo' %}" class="btn btn-primary">Periodos Vacacional</a>
            </div>
        </div>

        <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <form action="{% url 'talento_humano:vacaciones.buscar' %}" method="get">
                {% with total_items=paginator.count numero_items=paginator.per_page filtro=filtro %}
                {% include 'tabla_encabezado.html' %}
                {% endwith %}
            </form>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Funcionario</th>
                                <th>Unidad Academica/Administrativa</th>
                                <th>Dias totales</th>
                                <th>Dias pendientes</th>
                                <th>Periodo</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vacacion in vacaciones %}
                            <tr>
                                <td>
                                    <a href="{% url 'talento_humano:vacaciones.detalle' vacacion.id %}">
                                        {{ vacacion.funcionario }}
                                        {{ vacacion.funcionario.usuario.persona.numero_documento }}
                                    </a>
                                </td>
                                <td>{{ vacacion.asignacion_puesto.puesto}}</td>
                                <td>{{ vacacion.dias_totales }}</td>
                                <td>{{ vacacion.dias_pendientes }}</td>
                                <td>{{ vacacion.periodo_vacaciones|default:"" }}</td>
                                <td>
                                    {% if vacacion.activo %}
                                    <span class="label label-success">Activo</span>
                                    {% else %}
                                    <span class="label label-danger">Inactivo</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% with lista=vacaciones filtro=filtro %}
            {% include 'tabla_paginacion.html' %}
            {% endwith %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
        function carga() {
            var progreso= "<progress  id='progress_id'></progress> "
            $('#barra').html(progreso)
        };


</script>
{% endblock %}

