{% extends 'layout.html' %}

{% block titulo %}
    Providencias
{% endblock %}

{% block migas %}
    {% include 'navegacion.html' with navegacion=navegacion %}
{% endblock %}

{% block contenido %}
    <div class="card card-box">
        <div class="card-head">
            <header>{{ 'tesoreria.Comentario'|verbose_name|capfirst  }}</header>
            <div class="tools">
                <button class="btn btn-info"
                        data-toggle="modal"
                        data-target="#modal-comentario-guardar"
                        {% if not perms.tesoreria.change_comentario %} disabled {% endif %}>
                    <i class="fa fa-edit"></i>Editar
                </button>
                <a {% if perms.academico.delete_asignatura %}
                    class="btn btn-danger"
                    href="{% url 'tesoreria:comentario_eliminar' comentario.id %}"
                    onclick="return confirm('¿Está seguro de eliminar el registro?')"
                {% else %}
                    class="btn btn-danger disabled"
                {% endif %}>
                    <i class="fa fa-trash-o"></i>Eliminar
                </a>
            </div>
        </div>
        <div class="card-body ">
            <div class="header">
                <div class="text-center">
                    <h4>Providencia</h4>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Concepto:</span>
                <div class="col-sm-10">
                    <h5>{{ comentario.concepto }}</h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Fecha:</span>
                <div class="col-sm-10">
                    <h5>{{ comentario.fecha_creacion }}</h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Detalle:</span>
                <div class="col-sm-10">
                    <h5>{{ comentario.detalle }}</h5>
                </div>
            </div>
        </div>
    </div>

    {% include 'tesoreria/comentario/modal_agregar.html' %}

{% endblock contenido %}

{% block javascript %}
    {% load staticfiles %}
    <script src="{% static 'js/js_cookie.js' %}"></script>
    <script src="{% static 'js/tesoreria/comentario_detalle.js' %}"></script>
{% endblock %}