<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Concepto</th>
             <th>Detalle</th>
            <th>Fecha creación</th>

            <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>

                <td>
                    <a {% if perms.academico.view_comentario %}
                        href="{% url 'tesoreria:comentario_detalle' comentario.id %}?next={{ request.path }}"
                    {% endif %}>
                        {{ comentario.concepto }}
                    </a>
                <td>{{ comentario.detalle }}</td>
                <td>{{ comentario.fecha_creacion|default:"" }}</td>

                <td>
                    <a title="Eliminar"
                            {% if perms.tesoreria.delete_comentario %}
                       class="btn btn-outline-danger"
                       onclick="return confirm('¿Está seguro de eliminar el registro?')"
                       href="{% url 'tesoreria:comentario_eliminar' comentario.id %}"
                            {% else %}
                       class="btn btn-outline-danger disabled"
                            {% endif %}>
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
