<div class="modal fade" id="modal-cuenta_cobrar-guardar">
    <form action="{% url 'tesoreria:cuenta_guardar' %}" method="POST" role="form" id="formCuentaCobrar">
        {% csrf_token %}
        <input type="hidden" id="id" name="id" value="{{ CuentaCobrar.id }}"/>
        <input type="hidden" name="next" value="{{ request.path }}"/>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'academico.Asignatura'|verbose_name|capfirst  }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="nombre">Nombre:</label>
                            <input type="text"
                                   class="form-control letras_man_min"
                                   placeholder="Nombre.."
                                   id="nombre"
                                   name="nombre"
                                   value="{{ asignatura.nombre }}"
                                   minlength="3"
                                   maxlength="255"
                                   required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="codigo_institucional">Código institucional:</label>
                            <input type="text"
                                   class="form-control letras_numeros"
                                   placeholder="Codigo institucional.."
                                   id="codigo_institucional"
                                   name="codigo_institucional"
                                   value="{{ asignatura.codigo_institucional }}"
                                   minlength="3"
                                   maxlength="25"
                                   required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="codigo_unesco">Código UNESCO:</label>
                            <input type="text"
                                   class="form-control letras_numeros"
                                   placeholder="Codigo unesco.."
                                   id="codigo_unesco"
                                   name="codigo_unesco"
                                   value="{{ asignatura.codigo_unesco }}"
                                   minlength="3"
                                   maxlength="25"
                                   required>
                        </div>
                        <div class="col-md-12 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="tipo">Tipo:</label>
                                <select id="tipo" name="tipo" class="form-control" required>
                                    <option value="" selected="selected">-- Seleccione --</option>
                                    {% for item in CHOICE_TIPO %}
                                        <option value="{{ item.0 }}"
                                                {% if asignatura.tipo == item.0 %}selected{% endif %}>
                                            {{ item.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i>Cancelar
                    </button>
                    <button id="enviar" type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>