{% extends 'layout.html' %}

{% block titulo %}
    Cuentas por Cobrar
{% endblock %}

{% block estilos %}
    {% load staticfiles %}
    <link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block migas %}
    {% include 'navegacion.html' with navegacion=navegacion %}
{% endblock %}

{% block contenido %}
    <div class="card card-box">
        <div class="card-head">
            <header>{{ 'tesoreria.CuentaCobrar'|verbose_name_plural|capfirst  }}</header>
            <div class="tools">
                <div class="pull-right">
                    <button class="btn btn-info btn-xs"
                            data-toggle="modal" data-target="#modal-cuenta_cobrar-guardar"
                            {% if not perms.tesoreria.add_cuentacobrar %} disabled {% endif %}>
                        <i class="fa fa-plus-circle"></i>Nuevo
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body ">
            <div class="table-responsive">
                <table class="table table-hover" id="cuenta_cobrar">
                    <thead>
                    <tr>
                        <th>CI</th>
                        <th>Cliente</th>
                        <th>Monto</th>
                        <th>Abonado</th>
                        <th>Saldo</th>

                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'tesoreria/cuenta_cobrar/modal_agregar.html' %}
{% endblock %}

{% block javascript %}
    {% load staticfiles %}
    <script src="{% static 'js/js_cookie.js' %}"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/tesoreria/cuentacobrar_lista.js' %}"></script>
{% endblock %}