{% extends 'layout.html' %}

{% block titulo %}
    Abonos
{% endblock %}

{% block migas %}
    {% include 'navegacion.html' with navegacion=navegacion %}
{% endblock %}

{% block contenido %}
    <div class="card card-box">
        <div class="card-head">
            <header>{{ 'academico.Abono'|verbose_name|capfirst  }}</header>
            <div class="tools">
                <button class="btn btn-info"
                        data-toggle="modal"
                        data-target="#modal-asignatura-editar"
                        {% if not perms.academico.change_asignatura %} disabled {% endif %}>
                    <i class="fa fa-edit"></i>Editar
                </button>
                <a {% if perms.academico.delete_asignatura %}
                    class="btn btn-danger"
                    href="{% url 'academico:asignatura_eliminar' asignatura.id %}"
                    onclick="return confirm('¿Está seguro de eliminar el registro?')"
                {% else %}
                    class="btn btn-danger disabled"
                {% endif %}>
                    <i class="fa fa-trash-o"></i>Eliminar
                </a>
            </div>
        </div>
        <div class="card-body ">
            <div class="header">
                <div class="text-center">
                    <h4>{{ asignatura.nombre }}
                        {% if asignatura.codigo_institucional and asignatura.codigo_unesco %}
                            ({{ asignatura.codigo_institucional }}-{{ asignatura.codigo_unesco }})
                        {% endif %}
                    </h4>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Código institucional:</span>
                <div class="col-sm-10">
                    <h5>{{ asignatura.codigo_institucional }}</h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Código UNESCO:</span>
                <div class="col-sm-10">
                    <h5>{{ asignatura.codigo_unesco }}</h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Tipo:</span>
                <div class="col-sm-10">
                    <h5>{{ asignatura.get_tipo_display }}</h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Nombre:</span>
                <div class="col-sm-10">
                    <h5>{{ asignatura.nombre }}</h5>
                </div>
            </div>
        </div>
    </div>

    {% include 'academico/asignatura/modal_editar.html' %}

{% endblock contenido %}

{% block javascript %}
    {% load staticfiles %}
    <script src="{% static 'js/js_cookie.js' %}"></script>
    <script src="{% static 'js/academico/asignatura_detalle.js' %}"></script>
{% endblock %}