<div class="modal fade" id="modal-abono-guardar">
    <form action="{% url 'tesoreria:abono_guardar' %}" method="POST" role="form" id="formAbono">
        {% csrf_token %}
        <input type="hidden" id="id" name="id" value="{{ abono.id }}"/>
        <input type="hidden" id="id_cuenta" name="cuenta_cobrar"  value="{{ cuenta_cobrar.id }}"/>
        <input type="hidden" name="next" value="{{ request.path }}"/>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'tesoreria.Abono'|verbose_name|capfirst  }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                         <div class="form-group col-md-12">
                            <label for="concepto">Concepto:</label>
                            <input type="text"
                                   class="form-control letras_man_min"
                                   placeholder="Concepto.."
                                   id="concepto"
                                   name="concepto"
                                   value="{{ abono.concepto }}"
                                   minlength="3"
                                   maxlength="255"
                                   required>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="forma_pago">Forma de pago:</label>
                                <select id="forma_pago" name="forma_pago" class="form-control" required>
                                    <option value="" selected="selected">-- Seleccione --</option>
                                    {% for key, value in CHOICE_FORMAPAGO %}
                                        <option value="{{ key }}"
                                                {% if abono.forma_pago == key %}selected{% endif %}>
                                            {{ value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label id="labelreferencia" for="referencia">Referencia:</label>
                            <input type="text"
                                   class="form-control letras_man_min"
                                   placeholder="Referencia.."
                                   id="referencia"
                                   name="referencia"
                                   value="{{ abono.referencia }}"
                                   minlength="3"
                                   maxlength="50">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="monto">Monto:</label>
                            <input type="number"
                                   class="form-control"
                                   id="monto"
                                   name="monto"
                                   value="{{ abono.monto }}"
                                   min="0"
                                   required>
                        </div>

                          {% now "Y-m-d" as ahora %}
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="fecha_pago">Fecha de pago:</label>
                                <input type="date"
                                       class="form-control"
                                       placeholder="Fecha de pago.."
                                       name="fecha_pago"
                                       id="fecha_pago"
                                       value="{{ abono.fecha_pago|date:"Y-m-d"|default:ahora }}"
                                       required>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="interes">Interes:</label>
                            <input type="number"
                                   class="form-control"
                                   id="interes"
                                   name="interes"
                                   value="{{ abono.interes }}"
                                   minlength="0"
                                   maxlength="10"
                                   required>
                        </div>


<!--
                        <div class="form-group col-md-6">
                            <label for="saldo">Saldo:</label>
                            <input type="number"
                                   class="form-control"
                                   id="saldo"
                                   name="saldo"
                                   value="{{ cuenta_cobrar.saldo }}"
                                   minlength="0"
                                   maxlength="10"
                                   required>
                        </div> -->

                        <div class="form-group col-md-12">
                            <label for="observacion">Observación:</label>
                            <input type="text"
                                   class="form-control letras_man_min"
                                   placeholder="Observación.."
                                   id="observacion"
                                   name="observacion"
                                   value="{{ abono.observacion }}"
                                   minlength="3"
                                   maxlength="255"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i>Cancelar
                    </button>
                    <button id="enviar" type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Registrar</button>
                </div>
            </div>
        </div>
    </form>
</div>