.errorlist, .error{
  color: #c06565;
}

.img-thumbnail-list{
  width: 75px;
}

.img-thumbnail-card{
  width: 180px;
}

.card-head .tools .btn {
    padding: 5px;
}

.label-default{
    background: #929292;
}
.checkbox{
  width: 25px;
}

.panel-heading-gray{
  background-color: #D5D6DA;
}

/* alertify */
.ajs-message.ajs-notificacion { color: #31708f;  background-color: #d9edf7;  border-color: #31708f; }
