{% extends 'layout.html' %}

{% block titulo %}
    Autoridad académica facultad
{% endblock %}

{% block migas %}
    {% include 'navegacion.html' with navegacion=navegacion %}
{% endblock %}

{% block contenido %}
    <div class="card card-box">
        <div class="card-head">
            <header>{{ 'academico.AutoridadFacultad'|verbose_name }}</header>
            <div class="tools">
                <button class="btn btn-info"
                        data-toggle="modal"
                        data-target="#modal-autoridad-facultad-editar"
                        {% if not perms.academico.change_autoridadfacultad %} disabled {% endif %}>
                    <i class="fa fa-edit"></i> Editar
                </button>
            </div>
        </div>
        <div class="card-body ">
            <div class="header">
                <div class="text-center">
                    <h4>{{ autoridad_facultad.funcionario.usuario.persona.get_nombres_completos }}
                        ({{ autoridad_facultad.get_tipo_display }})
                    </h4>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Facultad:</span>
                <div class="col-sm-10">
                    <h5>
                        <a {% if perms.academico.view_facultad %}
                            href="{% url 'academico:facultad_detalle' autoridad_facultad.facultad.id %}"
                        {% endif %}>{{ autoridad_facultad.facultad.siglas }}
                        </a>
                    </h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Activo:</span>
                <div class="col-sm-10">
                    <h5>{{ autoridad_facultad.activo|yesno:"Si,No," }}</h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Tipo:</span>
                <div class="col-sm-10">
                    <h5>{{ autoridad_facultad.get_tipo_display }}</h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Funcionario:</span>
                <div class="col-sm-10">
                    <h5>{{ autoridad_facultad.funcionario.usuario.persona.get_nombres_completos }}</h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Abreviatura:</span>
                <div class="col-sm-10">
                    <h5>{{ autoridad_facultad.abreviatura }}</h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Fecha de inicio:</span>
                <div class="col-sm-10">
                    <h5>{{ autoridad_facultad.fecha_inicio }}</h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Fecha de fin:</span>
                <div class="col-sm-10">
                    <h5>{{ autoridad_facultad.fecha_fin | default:'' }}</h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Referencia de ingreso:</span>
                <div class="col-sm-10">
                    <h5>{{ autoridad_facultad.referencia_ingreso }}</h5>
                </div>
            </div>
            <div class="form-group form-inline text-left">
                <span class="col-sm-2">Referencia de salida:</span>
                <div class="col-sm-10">
                    <h5>{{ autoridad_facultad.referencia_salida | default:'' }}</h5>
                </div>
            </div>
        </div>
    </div>
    {% include 'academico/autoridad_facultad/modal_editar.html' with facultad=autoridad_facultad.facultad %}

{% endblock contenido %}

{% block javascript %}
    {% load staticfiles %}
    <script src="{% static 'js/academico/autoridad_editar.js' %}"></script>
{% endblock %}