{% extends 'layout.html' %}


{% block estilos %}
    {% load staticfiles %}
    <!-- mi comentario-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/planificacion/tabla_dinamica.css' %}">
{% endblock estilos %}

{% block titulo %}
    Plan Estrategicos
{% endblock %}


{% block migas %}
    <div class="page-bar">
        <div class="page-title-breadcrumb">
            <div class=" pull-left">
                <div class="page-title">Módulo Planificacion</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{% url 'planificacion:plan_estrategico_lista' %}" class="parent-item">Planes
                        Estrategicos</a> <i
                        class="fa fa-angle-right"></i>
                </li>
                <li class="active">Plan Estrategico: {{ plan_estrategico.nombre }}</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block contenido %}
    <div class="card card-box">
        <div class="card-head">
            <header>Plan Estratégico</header>
            <div class="tools">

                <a title="Editar Plan Estrategico" class="btn btn-info"
                   data-toggle="modal" data-target="#modal-plan-estrategico"
                    {% if not perms.planificacion.change_plan_estrategico %} disabled {% endif %}>
                <i class="fa fa-edit"></i> Editar
                </a>
                <a title="Eliminar Plan Estrategico" class="btn btn-danger"
                   href="{% url 'planificacion:plan_estrategico_eliminar' plan_estrategico.id %}"
                {% if not perms.planificacion.delete_plan_estrategico %} disabled {% endif %}>
                    <i class="fa fa-trash-o"></i> Eliminar
                </a>
                <div class="dropdown dropleft float-right">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Herramientas
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" target="_blank"
                                   href="{% url 'planificacion:plan_estrategico_reporte_detalle' plan_estrategico.id%}">
                                    <i class="fa fa-file-pdf-o"></i>Reporte Detallado</a>
                        <a class="dropdown-item"
                                   href="#' plan_estrategico.id%}">
                                    <i class="fa fa-arrow-down"></i>Finalizar Plan</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="card-body ">
            {% include 'planificacion/plan_estrategico/fragmento_detalle.html' %}
        </div>
    </div>
    <div class="card card-box">
        <div class="card-head">
            <header>Planes Operativos </header>
            <div class="tools">
                <a title="Editar Plan Estrategico" class="btn btn-info"
                   data-toggle="modal" data-target="#modal-plan-operativo"
                    {% if not perms.planificacion.change_plan_estrategico %} disabled {% endif %}>
                    <i class="fa fa-plus-circle"></i> Nuevo
                </a>
            </div>
        </div>
        <div class="card-body ">
            {% include 'planificacion/plan_operativo/fragmento_lista.html' with planes_operativos=plan_estrategico.planes_operativos.all %}
        </div>
    </div>

    {% include 'planificacion/plan_estrategico/modal_editar.html' %}
    <!--Modal agregar nuevo objetivo estrategico-->
    {% include 'planificacion/objetivo_estrategico/modal_editar.html' %}
     <!--Modal agregar nuevo plan operativo -->
    {% include 'planificacion/plan_operativo/modal_detalle.html' %}

{% endblock %}

{% block javascript %}
    {% load staticfiles %}
    <script src="{% static 'js/js_cookie.js' %}"></script>
    <script src="{% static 'js/planificacion/plan_estrategico_editar.js' %}"></script>
    <script src="{% static 'js/planificacion/objetivo_estrategico_lista.js' %}"></script>
    <script src="{% static 'js/planificacion/tabla_dinamica.js' %}"></script>
{% endblock javascript %}