<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {% if usuario.estudiante %}
    {% include 'info_mensaje.html' with title="Estimado Usuario" text="Por favor ingrese obligatoriamente los  datos de su PADRE O MADRE (al menos uno de los dos)" %}
    {% else %}
    {% include 'info_mensaje.html' with title="Estimado Usuario" text="Por favor ingrese al menos un familiar  obligatoriamente, hijos (si existe), cónyuge o conviviente (si existe); y marcar mínimo un Contacto (obligatorio  teléfono y celular)." %}
    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Familiares y contactos
                <a href="{% url 'core:relacion_crear' persona.id %}?next={{request.path}}"
                   class="btn btn-info btn-circle btn-xs pull-right" role="button">
                    <i class="fa fa-plus-circle"></i>Nuevo</a>
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Relación</th>
                        <th>Identificación</th>
                        <th>Nombres/Apellidos</th>
                        <th>Teléfono/Celular</th>
                        <th>Fecha de nacimiento</th>
                        <th>Nivel de instrucción</th>
                        <th>Contacto</th>
                        <th>Trabajo en UNL</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for relacion in persona.expediente.relacion_set.all %}
                    <tr>
                        <td>{{ relacion.tipo_relacion }}</td>
                        <td>{{ relacion.numero_documento }}</td>
                        <td>{{ relacion.nombres }} {{ relacion.apellidos}}</td>
                        <td>{{ relacion.telefono| default:"" }} {{ relacion.celular| default:"" }}</td>
                        <td>{{ relacion.fecha_nacimiento| default:"" }}</td>
                        <td>{{ relacion.nivel_instruccion| default:"" }}</td>
                        <td align="center">
                            {% if relacion.contacto %}
                            <span class="fa fa-check" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if relacion.nepotismo %}
                            <span class="fa fa-check" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-outline-info"
                               title="Editar"
                               href="{% url 'core:relacion_editar' relacion.id %}?next={{request.path}}">
                                <i class="fa fa-edit"></i></a>
                            <a class="btn btn-outline-danger"
                               title="Eliminar"
                               onclick="return confirm('¿Está seguro de eliminar el registro?')"
                               href="{% url 'core:relacion_eliminar' relacion.id %}?next={{request.path}}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>