{% extends 'layout.html' %}

{% block titulo %}
Agregar Funcionario
{% endblock %}


{% block migas %}
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">Módulo de talento humano</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home"></i>
                <a class="parent-item" href="{% url 'talento_humano:index' %}">Talento Humano</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{% url 'talento_humano:funcionarios.index' %}" class="parent-item">Funcionarios</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Agregar funcionario</li>
        </ol>
    </div>
</div>
{% endblock %}

{% block contenido %}
<div class="card card-box">
    <div class="card-head">
        <header>Agregar funcionario de forma manual</header>
        <div class="tools">
            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
        </div>
    </div>
    <div class="card-body ">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <table class="table table-hover">
                        {{ form.as_table }}
                        <tr>
                            <th></th>
                            <td>
                                <input type='submit' class='btn btn-primary btn-sm' value='Agregar'/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}