<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Valor</th>
            <th>Tasa</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for interes_mensual in interesesmensuales %}
        <tr>
            <td>{{ interes_mensual.fecha }}</td>
            <td>{{ interes_mensual.valor }}</td>
            <td>{{ interes_mensual.tasa }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>