{% extends 'layout.html' %}

{% block titulo %}
    SIAAF - Error
{% endblock %}


{% block contenido %}
    <div class="card card-box">
        <div class="card-head">
            <header>Error</header>
        </div>
        <div class="card-body">
            <p>Lo sentimos la peticion solicitada no pudo procesarse, por favor
                comuniquese con el administrador del sistema.</p>
            <a class="btn btn-default" href="{{ request.META.HTTP_REFERER }}">Regresar atras</a>
        </div>
    </div>
{% endblock %}
