<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <!-- logo start -->
        <div class="page-logo">
            <a href="/">
                <span class="logo-icon material-icons fa-rotate-45">school</span>
                <span class="logo-default">Siaaf</span> </a>
        </div>
        <!-- logo end -->

        <ul class="nav navbar-nav navbar-left in">
            <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
        </ul>
        <div style="float: left; line-height: 50px">
            <span>Sistema de Información Académico, Administrativo y Financiero</span></li>
        </div>

        <!-- start mobile menu -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- end mobile menu -->

        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li><a href="javascript:;" class="fullscreen-btn"><i class="fa fa-arrows-alt"></i></a></li>
                {% if request.user.is_authenticated %}
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            {% if request.user.foto_url %}
                                <img alt="" src="{{ request.user.foto_url }}" class="img-circle">
                            {% else %}
                                <img alt="" class="img-circle " src="/static/img/perfil.jpg"/>
                            {% endif %}
                            <span class="username username-hide-on-mobile"> {{ request.user.persona.get_nombres }} </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="{% url 'seguridad:usuario_perfil' %}">
                                    <i class="icon-user"></i> Perfil </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'autenticacion:cambiar_contrasena' %}">
                                    <i class="icon-lock"></i> Cambiar contraseña
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'autenticacion:cerrar_sesion' %}">
                                    <i class="icon-logout"></i> Salir </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
