/*
* Colores en el formulario
* validado y no validado
*/
.ng-valid[required]
  border-left 5px solid color_primary

.ng-invalid
  border-left 5px solid color_warn

/*
* Estilo de fuente para el mensaje de error del
* componente validor de campos de un formulario
*/
.mensajeError
  color red
  font-size: 90%
  padding 3px


