/*
* Estilo del checkbox para la posición
* dentro de la tabla.
*/
md-checkbox
  margin 8px
  cursor pointer
  padding-left 10px
  padding-right 0
  line-height 1px
  min-width 1px
  min-height 1px
  vertical-align text-top!important