{% extends 'layout.html' %}

{% block titulo %}
    SIITH
{% endblock %}

{% block migas %}
    {% include 'navegacion.html' with navegacion=navegacion %}
{% endblock %}

{% block contenido %}
    <div class="card card-box">
        <div class="card-head">
            <header>Registro vacaciones</header>
        </div>
        <div class="card-body ">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form action="{% url 'talento_humano:registro_vacaciones_reporte' %}" class="form-horizontal auto-validate" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Planificación:</label>
                                    <select name="detalle_planificacion" class="form-control">
                                        <option value="">Sin detalle planificacion</option>
                                        {% for detalle_planificacion in detalles_planificacion%}
                                            <option value="{{ detalle_planificacion.id }}">{{ detalle_planificacion.nombre }} ({{ detalle_planificacion.fecha_desde }}-{{ detalle_planificacion.fecha_hasta }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Regimen laboral:</label>
                                    <select name="regimen_laboral" class="form-control">
                                        <option value="">Todos</option>
                                        {% for regimen_laboral in regimenes_laborales%}
                                            <option value="{{ regimen_laboral.id }}">{{ regimen_laboral.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label>Fecha inicio desde:</label>
                                    <input type="date" class="form-control" name="fecha_inicio_desde">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label>Fecha inicio hasta:</label>
                                    <input type="date" class="form-control" name="fecha_inicio_hasta">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label>Fecha fin desde:</label>
                                    <input type="date" class="form-control" name="fecha_fin_desde">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label>Fecha fin hasta:</label>
                                    <input type="date" class="form-control" name="fecha_fin_hasta">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="btn-group">
                                <button type="button" class='btn btn-primary'><i class="fa fa-file-pdf-o"></i> Exportar</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button type="submit" formtarget="_blank" name="reporte_excel"
                                                class="btn btn-link">
                                            <i class="fa fa-file-excel-o text-success"></i>Excel
                                        </button>
                                    </li>
                                     <li>
                                         <button type="submit" formtarget="_blank" name="reporte_pdf"
                                                class="btn btn-link">
                                            <i class="fa fa-file-pdf-o text-danger"></i> PDF
                                         </button>
                                     </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}