.example-container {
  height: 635px;
  overflow: auto;
}
table {
  width: 100%;
}
@media (min-width: 1450px) {
  .example-container {
    height: 635px;
    overflow: auto;
  }
}
@media (max-width: 1400px) {
  .example-container {
    height: 295px;
    overflow: auto;
  }
}
@media (max-width: 800px) {
  .example-container {
    height: 700px;
    overflow: auto;
  }
}
@media (max-width: 400px) {
  .example-container {
    height: 300px;
    overflow: auto;
  }
}
