{% extends 'layout.html' %}

{% block titulo %}
    Perfil de Usuario
{% endblock %}

{% block migas %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li>
            <a href="{% url 'talento_humano:funcionarios.funcionario.usuario' %}">Funcionario</a>
        </li>
        <li>
            <a href="{% url 'seguridad:usuario_perfil' %}">{{ usuario.persona }}</a>
        </li>
        <li class="active">Vacaciones</li>
    </ol>

    <div class="page-header">
        <h1> {{ usuario.persona.get_nombres_completos }}</h1>
    </div>

{% endblock %}

{% block contenido %}

    {% if usuario.es_funcionario %}
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Funcionario</th>
                    <td>{{ usuario.funcionario }}</td>
                </tr>
                <tr>
                    <th>Puesto</th>
                    <td>{{ usuario.funcionario.get_asignacion_puesto_vigente.uaa_puesto }}</td>
                </tr>
                <tr>
                    <th>Dias totales</th>
                    <td>{{ usuario.funcionario.get_vacaciones.dias_totales }}</td>
                </tr>
                <tr>
                    <th>Horas Totales</th>
                    <td>{{ usuario.funcionario.get_vacaciones.horas_totales }}</td>
                </tr>
                <tr>
                    <th>Dias pendientes</th>
                    <td>{{ usuario.funcionario.get_vacaciones.dias_pendientes }}</td>
                </tr>
                <tr>
                    <th>Horas pendientes</th>
                    <td>{{ usuario.funcionario.get_vacaciones.horas_pendientes }}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>


        <div class="row">
        <h3>Vacaciones</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Dias</th>
                    <th>Observación</th>
                </tr>
                </thead>
                <tbody>
                {% for vacacion in usuario.funcionario.get_vacaciones.registrovacaciones_set.all %}
                    <tr>
                    <td>{{ vacacion.fecha_inicio }}</td>
                    <td>{{ vacacion.fecha_fin }}</td>
                    <td>{{ vacacion.get_numero_dias }}</td>
                    <td>{{ vacacion.observacion }}</td>
                {% endfor %}

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <h3>Ausentismos</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Descripcion</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Registro</th>
                    <th>Dias</th>
                    <th>Observación</th>
                </tr>
                </thead>
                <tbody>
                {% for ausentismo in usuario.funcionario.get_vacaciones.ausentismofuncionario_set.all %}
                    <tr>
                        <td>{{ ausentismo.ausentismo.tipo_ausentismo }}</td>
                        <td>{{ ausentismo.ausentismo.nombre }}</td>
                        <td>{{ ausentismo.fecha_inicio }}</td>
                        <td>{{ ausentismo.fecha_fin }}</td>
                        <td>{{ ausentismo.fecha_registro }}</td>
                        <td>{{ ausentismo.get_numero_dias }}</td>
                        <td>{{ ausentismo.observacion }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endif %}

{% endblock contenido %}
