{% extends 'layout.html' %}

{% block titulo %}
    Título
{% endblock %}

{% block migas %}
    {% include 'navegacion.html' %}
{% endblock %}

{% block contenido %}
    <div class="card card-box">
        <div class="card-head">
            <header>{{ 'academico.titulo'|verbose_name|capfirst  }}</header>
            <div class="tools">
                <button class="btn btn-info"
                        data-toggle="modal" data-target="#modal-titulo-editar"
                        {% if not perms.academico.change_titulo %} disabled {% endif %}>
                    <i class="fa fa-edit"></i> Editar
                </button>
                <a
                        {% if perms.academico.delete_titulo %}
                            class="btn btn-danger"
                            onclick="return confirm('¿Está seguro de eliminar el registro?')"
                            href="{% url 'academico:titulo_eliminar' titulo.id %}"
                        {% else %}
                            class="btn btn-outline-danger disabled"
                        {% endif %}>
                    <i class="fa fa-trash-o"></i> Eliminar
                </a>
            </div>
        </div>
        <div class="card-body ">
            <div class="panel panel-default">
                <div class="panel-heading row">
                    <div class="text-center col-sm-8">
                        <h4>{{ titulo.nombre }}</h4>
                    </div>
                    <div class="btn-group-vertical col-sm-4">
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group form-inline text-left">
                        <span class="col-sm-2">Programa de estudio:</span>
                        <div class="col-sm-10">
                            <h5>
                                <a {% if perms.academico.view_programa_estudio %}
                                    href="{% url 'academico:programa_estudio_detalle' titulo.pensum.programa_estudio.id %}"
                                {% endif %}>{{ titulo.pensum.programa_estudio.nombre }}</a>
                            </h5>
                        </div>
                        <span class="col-sm-2">Pensum:</span>
                        <div class="col-sm-10">
                            <h5 align="justify">
                                <a {% if perms.academico.view_pensum %}
                                    href="{% url 'academico:pensum_detalle' titulo.pensum.id %}"
                                {% endif %}>{{ titulo.pensum.nombre }}</a>
                            </h5>
                        </div>
                        <span class="col-sm-2">Activo:</span>
                        <div class="col-sm-10">
                            <h5>{{ titulo.activo|yesno:"Si,No," }}</h5>
                        </div>
                        <span class="col-sm-2">Fecha de inicio:</span>
                        <div class="col-sm-10">
                            <h5>{{ titulo.fecha_inicio }}</h5>
                        </div>
                        <span class="col-sm-2">Fecha de fin:</span>
                        <div class="col-sm-10">
                            <h5>{{ titulo.fecha_fin|default:'' }}</h5>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    {% include 'academico/titulo/modal_editar.html' with pensum=titulo.pensum %}
{% endblock contenido %}