{% extends 'layout.html' %}

{% block titulo %}
Reporte de Asignación de puestos
{% endblock %}

{% block migas %}
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">Módulo de talento humano</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home"></i>
                <a class="parent-item" href="{% url 'talento_humano:index' %}">Talento humano</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Reporte</li>
        </ol>
    </div>
</div>
{% endblock %}

{% block contenido %}
<div class="card card-box">
    <div class="card-head">
        <header>Reporte General</header>
        <div class="tools">
            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
    </div>
    <div class="card-body ">
        <form action="" method="get">
            <div class="row">
                <div id="carga"></div>
                <div class="col-md-12">
                    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample"
                       aria-expanded="false"
                       aria-controls="collapseExample">
                        Filtro avanzado de busqueda
                    </a>
                    <button type="submit" value="Exportar Csv" name="exportar_csv" class='exportar btn btn-success'>
                        <i class="fa fa-file-excel-o"></i> Exportar Csv
                    </button>
                    <button type="submit" value="Exportar Pdf" name="exportar_pdf" class='exportar btn btn-danger'>
                        <i class="fa fa-file-pdf-o"></i> Exportar Pdf
                    </button>
                </div>
                <div class="col-md-12">
                    <div class="collapse" id="collapseExample">
                        <div class="well">
                            <div class="input-group">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        {{ form.as_table }}
                                    </table>
                                </div>
                                <input type='submit' class='btn btn-primary' value='Buscar'
                                       onclick="return barraEspera()"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">Se encontraton {{ total }} de registros</div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Cédula</th>
                                <th>UAA</th>
                                <th>Regimén laboral</th>
                                <th>Grupo ocupacional</th>
                                <th>Puesto</th>
                                <th>Tipo de relación laboral</th>
                                <th>fecha de inicio</th>
                                <th>Fecha de nacimiento</th>
                                <th>Edad</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for asignacion in asignaciones %}
                            <tr>
                                <td>
                                    <a href="{% url 'talento_humano:reporte.asignacion_puesto' asignacion.id %}">
                                        {{ asignacion.funcionario.usuario.persona.numero_documento }}
                                    </a>
                                    <br>
                                    {{ asignacion.funcionario.usuario.persona.get_apellidos }}<br>
                                    {{ asignacion.funcionario.usuario.persona.get_nombres }}
                                </td>
                                <td>
                                    {{ asignacion.uaa_puesto.uaa }}
                                </td>

                                <td>
                                    {{ asignacion.uaa_puesto.puesto.grupo_ocupacional.regimen_laboral }}
                                </td>
                                <td>
                                    {{ asignacion.uaa_puesto.puesto.grupo_ocupacional }}
                                </td>
                                <td>
                                    {{ asignacion.uaa_puesto.puesto }}
                                </td>
                                <td>
                                    {{ asignacion.tipo_relacion_laboral }}
                                </td>
                                <td>
                                    {{ asignacion.fecha_inicio }}
                                </td>
                                <td>
                                    {{ asignacion.funcionario.usuario.persona.fecha_nacimiento}}

                                </td>
                                <td>
                                    {{ asignacion.funcionario.usuario.persona.edad}}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    {% if asignaciones.has_previous %}
                    <input type="hidden" value="{{ asignaciones.previous_page_number }}" name="anterior">
                    <input type="submit" value="Anterior" name="pagina_anterior" class='btn btn-primary'>
                    {% endif %}

                    <a href="" class="btn btn-link" role="button">
                        Página {{ asignaciones.number }} de {{ asignaciones.paginator.num_pages }}.
                    </a>
                    <input type="number" value="{{ asignaciones.number }}" name="numero_pagina" min="1"
                           max="{{ asignaciones.paginator.num_pages }}">
                    <input type="submit" value="Ir" name="pagina" class='btn btn-primary'>

                    {% if asignaciones.has_next %}
                    <input type="hidden" value="{{ asignaciones.next_page_number }}" name="siguiente">
                    <input type="submit" value="Siguiente" name="pagina_siguiente" class='btn btn-primary'>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
        $(function () {
            $.datepicker.regional['es'] = {
                minDate: -3650,
                maxDate: 1000
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);
        });
    function barraEspera(){
        barra = '<progress id="barra"></progress>'
        $('#carga').html(barra)
    }






</script>
{% endblock %}
