<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Asignación de puestos</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<h2>Reporte de Asignación de puestos</h2>
<p class="derecha">
    Fecha de Impresión: {% now "Y-m-d H:i" %} <br>
    Total de {{ total }} registros
</p>

<table>
    <thead>
    <tr>
        <th>Nro.</th>
        <th>Cédula</th>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>Vacaciones</th>
        <th>Puesto</th>
    </tr>
    </thead>
    <tbody>
    {% for asignacion in asignaciones %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {{ asignacion.funcionario.usuario.persona.numero_documento }}
            </td>
            <td>{{ asignacion.funcionario.usuario.persona.get_apellidos }}</td>
            <td>{{ asignacion.funcionario.usuario.persona.get_nombres }}</td>
            <td>
                {% for vacacion in asignacion.funcionario.get_vacaciones.registrovacaciones_set.all %}
                    <strong>Desde: </strong> {{ vacacion.fecha_inicio|date:"d \d\e F, Y" }} <br>
                    <strong>Hasta: </strong> {{ vacacion.fecha_fin|date:"d \d\e F, Y" }} <br>
                    <strong>Días: </strong> {{ vacacion.get_numero_dias }} <br>
                    {% if vacacion.observacion %}
                        <strong>Observación: </strong>{{ vacacion.observacion }}<br>
                    {% endif %}
                {% endfor %}

            </td>
            <td>
                {{ asignacion.uaa_puesto.puesto }}
            </td>
        </tr>
    {% endfor %}

    </tbody>

</table>

<p class="derecha">
    Generado por {{ generado }}
</p>

</body>