<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Descripcion
            <th>Año de la meta
            <th>Valor
            <th>Accion
        </tr>
        </thead>
        <tbody>
        {% for meta_anual in metas_anuales %}
            <tr>
                <td>{{ meta_anual.nombre|default:meta_anual.periodo}}
                <td>{{ meta_anual.periodo}}
                <td>{{ meta_anual.valor }}
                <td>
                    <div class="btn-group">
                        {% if perms.planificacion.delete_meta_anual%}
                        <button class="btn btn-outline-danger btn-xs eliminar-meta" data-id="{{ meta_anual.id }}"><i
                                title="Eliminar" class="fa fa-trash-o"></i>
                        </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<!--Modal para Agregar resultado -->







