<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Trayectoria laboral (UNL)

                <div class="pull-right">
                    {% if perms.talento_humano.add_asignacionpuesto %}
                    <a href="{% url 'talento_humano:funcionarios.funcionario.ver_uaa' funcionario.id %}"
                       class="btn btn-info btn-circle btn-xs">
                       <i class="fa fa-plus-circle"></i> Nuevo
                    </a>
                    {% endif %}

                    {% if perms.talento_humano.add_ausentismo %}
                    <a href="{% url 'talento_humano:ausentismos.funcionario' funcionario.id %}"
                       class="btn btn-default btn-circle btn-xs">
                       <i class="fa fa-plus-circle"></i> Ausentismos
                    </a>
                    {% endif %}

                    {% if perms.talento_humano.view_asignacionpuesto %}
                    <a href="{% url 'talento_humano:reporte.trayectoria' funcionario.id %}" target="_blank"
                       class="btn btn-default btn-circle btn-xs">
                       <i class="fa fa-file-pdf-o"></i> Pdf
                    </a>
                    {% endif %}
                </div>
            </h3>
        </div>
        <div class="panel-body">
             {% include 'talento_humano/asignacion_puesto/fragmento_lista.html' with asignaciones_puestos=funcionario.asignaciones_puestos.all  %}
        </div>
    </div>

    {% include 'info_mensaje.html' with title="Estimado Usuario" text="Proceda a ingresar su trayectoria laboral externa a la Institución si posee." %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Trayectoria laboral (Externa)
                <div class="pull-right">
                    <a href="{% url 'talento_humano:trayectoria_laboral_externa_crear' funcionario.id %}?next={{request.path}}"
                       class="btn btn-info btn-circle btn-xs">
                    <i class="fa fa-plus-circle"></i>
                        Nuevo</a>
                </div>
            </h3>
        </div>
        <div class="panel-body">
            {% include 'talento_humano/trayectoria_laboral_externa/fragmento_lista.html' with trayectorias_laborales_externas=funcionario.trayectorias_laborales_externas.all %}
        </div>
    </div>
</div>