{% extends 'layout.html' %}

{% block titulo %}
Cuentas por Cobrar
{% endblock %}

{% block estilos %}
{% load staticfiles %}
<link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
      type="text/css"/>
{% endblock %}

{% block migas %}
{% include 'navegacion.html' with navegacion=navegacion %}
{% endblock %}

{% block contenido %}
<div id='message'>
</div>
{% include 'tesoreria/cuenta_cobrar/modal_agregar.html' %}
<div class="card card-box">
    <div class="card-head">
        <header>{{ 'tesoreria.CuentaCobrar'|verbose_name_plural }}</header>

    </div>
    <div class="card-body ">
        <div class="row">
            <div class="table-scrollable">
                <div id="usuarios_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    
                                    <th>CI</th>
                                    <th>Cliente</th>
                                    <th>Monto</th>
                                    <th>Saldo</th>
                                     <th>Interes</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for interesesmensuales in cuenta_cobrar %}
                                <tr>

                                    <td>
                                        <a href="{% url 'tesoreria:cuenta_cobrar_detalle' interesesmensuales.cuenta_cobrar.id %}">
                                            {{ interesesmensuales.cuenta_cobrar.cliente.numero_documento }}</a>
                                    </td>
                                    <td>
                                        {{ interesesmensuales.cuenta_cobrar.cliente.get_nombres_completos }}
                                    </td>
                                    <td>
                                        {{ interesesmensuales.cuenta_cobrar.monto }}
                                    </td>
                                    <td>
                                        {{ interesesmensuales.cuenta_cobrar.saldo }}
                                    </td>
                                     <td>
                                        {{ interesesmensuales.cuenta_cobrar.interes }}
                                    </td>

                                    <td>
                                        {% if interesesmensuales.cuenta_cobrar.estado %}
                                        <span class="label label-success">Activo</span>
                                        {% else %}
                                        <span class="label label-danger">Inactivo</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% with lista=cuenta_cobrar filtro=filtro %}
                    {% include 'tabla_paginacion.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% load staticfiles %}
<script src="{% static 'js/js_cookie.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/tesoreria/cuentacobrar_lista.js' %}"></script>
<script src="{% static 'js/core/persona_guardar.js' %}"></script>
<script src="{% static 'js/tesoreria/cuentacobrar_opciones_select.js' %}"></script>
{% endblock %}

<!--  <div class="card card-box">
   <div class="card-head">
       <header>{{ 'tesoreria.CuentaCobrar'|verbose_name_plural|capfirst }}</header>
       <div class="tools">
           <div class="pull-right">
               <button class="btn btn-circle btn-info btn-xs"
                       data-toggle="modal" data-target="#modal-cuenta_cobrar-guardar"
                       {% if not perms.tesoreria.add_cuentacobrar %} disabled {% endif %}>
                   <i class="fa fa-plus-circle"></i>Nuevo
               </button>
           </div>
       </div>
   </div>
   <div class="card-body ">
       <div class="table-responsive">
           <table class="table table-hover" id="cuenta_cobrar">
               <thead>
               <tr>
                   <th>ID</th>
                   <th>CI</th>
                   <th>Cliente</th>
                   <th>Monto</th>
                   <th>Saldo</th>
                   <th>Estado</th>

               </tr>
               </thead>
               <tbody>

               </tbody>
           </table>
       </div>
   </div>

</div>
{% include 'tesoreria/cuenta_cobrar/modal_agregar.html' %}
-->