<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Tasa</th>
            <th>Fecha</th>
            <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for tasa_interes in tasas_intereses %}
            <tr>
                <td>{{ tasa_interes.tasa }}</td>
                <td>{{ tasa_interes.fecha|default:"" }}</td>
                <td>
                    <a title="Eliminar"
                            {% if perms.tesoreria.delete_tasainteres %}
                       class="btn btn-outline-danger"
                       onclick="return confirm('¿Está seguro de eliminar el registro?')"
                       href="{% url 'tesoreria:tasa_interes_eliminar' tasa_interes.id %}"
                            {% else %}
                       class="btn btn-outline-danger disabled"
                            {% endif %}>
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
