<div class="modal fade" id="modal-tasa_interes-guardar">
    <form action="{% url 'tesoreria:tasa_interes_guardar' %}" method="POST" role="form" id="formTasaInteres">
        {% csrf_token %}
        <input type="hidden" id="id" name="id" value="{{ tasainteres.id }}"/>
        <input type="hidden" name="next" value="{{ request.path }}"/>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'tesoreria.TasaInteres'|verbose_name|capfirst  }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {% now "Y-m" as ahora %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="fecha">Fecha:</label>
                                <input type="date"
                                       class="form-control"
                                       placeholder="Fecha.."
                                       name="fecha"
                                       id="fecha"
                                       value="{{ tasa_interes.fecha|date:"Y-m-d"|default:ahora }}"
                                       required>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="tasa">Tasa:</label>
                            <input type="number"
                                   placeholder="0.00"
                                   step="0.01"
                                   class="form-control"
                                   id="tasa"
                                   name="tasa"
                                   value="{{ tasa_interes.tasa }}"
                                   minlength="0"
                                   maxlength="10"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i>Cancelar
                    </button>
                    <button id="enviar" type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>